/* BOX SIZING */
*,
*:before,
*:after {
	box-sizing: inherit;
}

/* VARIABLES */
:root {
	/* font families variables- linking fonts to the styles */
	--main-headings: 'Josefin Sans', 'Helvetica', 'Arial', sans-serif;
	--body-text: 'lato', 'Open Sans', 'Arial', sans-serif;
	--detail-text: 'lato', 'Open Sans', 'Arial', sans-serif;
	--button-text: 'Josefin Sans', 'Helvetica', 'Arial', sans-serif;

	/* font weights */
	--main-headings-400: 400;
	--main-headings-500: 500;
	--main-headings-600: 600;
	--main-headings-regular: 700;
	--main-headings-800: 800;
	--main-headings-900: 900;
	--body-text-100: 100;
	--body-text-200: 200;
	--body-text-300: 300;
	--body-text-400: 400;
	--body-text-regular: 500;
	--body-text-600: 600;

	/* colors */
	--bg-color: #fafafa;
	--secondary-color: #ffffff;
	--text-color: #1a1a1a;
	--form-select: #000;
	--form-unselected: #808080;
	--form-unselected: rgb(92, 92, 92);
	--form-gray: #c5c5c5;
	--hr-color: #8e8e8e;
	--amaranth: #d94252;
	--teal: #007a80;
	--dark-teal: #00585c;
	--light-teal: #00c6d0;
	--cybergrape: #6c4681;
	--onyx: #424241;
	--yaleblue: #00478f;
	--hotpink: #fa6cb7;
	--citrine: #d3c53f;
	--citron: #92a32d;
	--bcitron: #b37122;

	/* font sizes */
	--font50: 0.875rem;
	--font100: 1rem;
	--font200: 1.25rem;
	--font300: 1.5rem;
	--font400: 1.75rem;
	--font500: 2rem;
	--font600: 2.5rem;
	--font700: 3rem;
	--font800: 3.5rem;
	--font900: 4rem;

	/* line heights */
	--line-height-md: 1.5rem;
	--line-height-lg: 2rem;
	--line-height-xl: 2.8rem;

	--bold: bold;
	--underline: underline;

	/* variable for wrapper width */
	--wrapper-width: 90%;

	/* spacing variables */
	--spacing-small: 1rem;
	--spacing-intermediate: 1.5rem;
	--spacing-medium: 2rem;
	--spacing-large: 4rem;
	--spacing-xl: 6rem;
	--spacing-xxl: 12rem;
	--spacing-xxxl: 22rem;

	--gap-sm: 10px;
	--gap-md: 20px;
}

/* Setting the default px value for all fonts (has to be done before rems) */
html {
	box-sizing: border-box;
	font-size: 16px;
	font-weight: var(--body-text-regular);
}

body {
	background-color: var(--bg-color);
}

/* GLOBAL STYLES (Desktop First for now) */
/* global img style */
img {
	width: 100%;
	/* removes white space */
	display: block;
}

.learn-about-us {
	color: var(--Black, #1a1a1a);
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: var(--body-text-regular);
	line-height: var(--line-height-lg);
	position: absolute;
	margin: 19px 0;
}

h2 {
	color: var(--Teal, #007a80);
	font-family: Josefin Sans;
	font-size: var(--font900);
	font-style: normal;
	font-weight: var(--main-headings-regular);
	margin-top: var(--spacing-large);
}

/* Theres was small space on the left of the ul so this is to get rid that */
ul {
	list-style: none;
	padding: 0px;
}

hr {
	margin-top: var(--spacing-large);
	height: 2px;
	background-color: var(--hr-color);
}
/* global wrapper class */
.wrapper {
	width: var(--wrapper-width);
	max-width: 1230px;
	margin: 0 auto;
}

/* global hidden class */
.hidden {
	display: none;
}
/* custom sr-only class */
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* HEADER STYLES */
header {
	width: 100%;
	background-image: url('../assets/images/hero-image.png');
	background-position: center;
	background-size: cover;
}

.social-media-icons {
	display: flex;
	flex-direction: row;
}

.social-icons svg {
	width: 48px;
	height: 48px;
	display: block;
}
/* Need to replace color with variables */
.svg-icon {
	fill: #424241;
	transition: all 0.3s ease;
}
/* Need to replace color with variables */
.svg-icon:hover,
.svg-icon:focus {
	fill: #007a80;
}

/* WHO WE ARE STYLES */
/* hero background image styles complete */
.hero-image {
	width: 100%;
	min-height: 300px;
	background-image: url('../assets/images/global-ecosystem.png');
	color: white;
	display: flex;
	align-items: flex-end;
}

/* Styling for "Website under Construction" */

.under-construction {
	border-bottom: 4px solid #d94252;
	background: linear-gradient(0deg, #ff7a88 0%, #ff7a88 100%), #fff;
	width: 100%;
	min-height: 56px;
	position: relative;
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wuc-paragraph {
	color: var(--onyx);
	font-family: var(--main-headings);
	font-size: var(--font200);
	font-weight: var(--body-text-400);
	text-align: center;
	line-height: var(--line-height-md);
	margin: 10px;
	padding: 12px;
}

.under-construction-button {
	background: linear-gradient(0deg, #ff7a88 0%, #ff7a88 100%);
	width: 24px;
	height: 24px;
	border: none;
	position: absolute;
	top: 30%;
	right: 10px;
	cursor: pointer;
}

/* HEADER STYLES */
.title-section {
	position: relative;
	margin: 100px 0;
	text-align: left;
}

/* span forcing h2 to create new line */
.title-adjustment {
	display: block;
}

/* Hero Section */

/* Need to replace color with variables */
.svg-icon {
	fill: #424241;
	transition: all 0.3s ease;
}

/* Need to replace color with variables */
.svg-icon:hover,
.svg-icon:focus {
	fill: #007a80;
}

/* logo container */
.logohead {
	min-width: 312px;
	height: 124px;
}

.footlogo {
	width: 250px;
	height: 100px;
}

header {
	width: 100%;
	background-image: url('../assets/images/hero-image.png');
	background-position: center;
	background-size: cover;
}

.social-media-icons {
	display: flex;
	flex-direction: row;
}

/* header flex layout */
header .wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/*for space around*/
}

.header-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: var(--spacing-medium);
}

.logo {
	display: flex;
	align-self: center;
	width: 252px;
	height: 100 px;
	/* to center the logo vertically */
}

.social-icons {
	display: flex;
	align-self: center;
	justify-content: space-around;
	/* to center the social icons vertically */
}

/* WHO WE ARE */
.who-we-are h2,
.who-we-are .overlay-who {
	font-family: var(--main-headings);
	font-size: var(--font600);
	font-weight: var(--main-headings-regular);
	color: var(--text-color);
}
.who-we-are .overlay-who {
	color: var(--secondary-color);
	padding-top: 220px;
}
.who-we-are p {
	font-family: var(--body-text);
	font-size: var(--font300);
	font-weight: var(--body-text-regular);
	color: var(--text-color);
}
.ecosystem-banner {
	background-image: url('../assets/images/global-ecosystem.png');
	background-color: var(--dark-teal);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	min-height: 300px;
}

blockquote {
	font-family: var(--main-headings);
	font-size: var(--font300);
	font-weight: var(--main-headings-600);
	color: var(--teal);
	font-style: italic;
	padding-left: var(--spacing-xl);
	margin-left: 0;
	margin-right: 0;
	line-height: var(--line-height-md);
}
.solid-line-indent {
	position: relative;
}
.solid-line-indent::before {
	content: '';
	position: absolute;
	top: 10%;
	left: 0;
	width: 64px;
	border-bottom: 3px solid var(--teal);
}

/* WHAT WE DO STYLES */

/* This is the container for each li (card-item) within the ul */
.card-item {
	/* exact top/bottom margin needed */
	margin: 20px auto;
	width: 100%;
	padding: var(--spacing-intermediate);

	/* placed in flexbox to put img and text side by side */
	display: flex;
	align-items: center;
	gap: var(--gap-md);
	background-color: var(--secondary-color);
	border: 1px solid #dbdbdb;
	border-radius: 8px;
}

/* Card-text Typography*/
.card-text h3 {
	color: var(--text-color);
	font-family: var(--main-headings);
	font-size: var(--font500);
	font-weight: var(--main-headings-regular);
	margin: 0px;
	margin-bottom: 10px;
}

.card-text p {
	color: var(--text-color);
	font-family: var(--body-text);
	font-size: var(--font300);
	font-weight: var(--body-text-regular);
	margin: 0px;
}

/* CONTACT FORM STYLES */

/* the font appearance for the contact form section */
.contact-form {
	color: var(--text-color);
	font-family: var(--main-headings);
	font-size: var(--font600);
	font-weight: var(--main-headings-regular);
	margin: 20px auto;
}

/* container styling for form-text container and input-container */
.form-container {
	display: flex;
	flex-direction: row;
	background-color: var(--secondary-color);
	color: var(--text-color);
	font-family: var(--main-headings);
	font-weight: var(--main-headings-400);
	font-size: var(--font300);
	gap: var(--gap-md);
	border: 1px solid var(--form-gray);
	padding: 20px;
	margin-bottom: var(--spacing-xl);
}

form {
	padding: 10px;
}

/* Shan - image for the text overlay  */
/* Shan - text overlay on image  */

/* form div flex box*/
.contact-us-form {
	display: flex;
	flex-direction: column;
	row-gap: var(--gap-sm);
	width: 100%;
}

/* flexbox for form sections that can be filled out */
.input-container {
	display: flex;
	flex-direction: column;
}

/* first and last name div */
.name-input-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: var(--gap-sm);
}

/* name input container */
.name-inputs {
	width: 50%;
}

/* flex box for the button on the form */
.submit-button {
	display: flex;
	justify-content: flex-end;
}

/* BUTTON STYLES */
button {
	background-color: var(--teal);
	color: var(--secondary-color);
	font-family: var(--button-text);
	font-size: var(--font100);
	border: transparent solid 4px;
	align-items: center;
	font-weight: var(--bold);
	transition-duration: 0.2s;
	padding: 5px 5px 2px 5px;
	border-radius: 5px;
}

button:hover,
button:focus {
	background-color: var(--dark-teal);
	color: var(--secondary-color);
	align-items: center;
	cursor: pointer;
}

button:focus {
	outline-color: var(--dark-teal);
	border-color: var(--dark-teal);
	align-items: center;
}

button:active {
	background-color: var(--teal);
	outline-style: solid;
	outline-color: var(--light-teal);
	align-items: center;
	border-color: transparent;
}

/* form input styling */
input[type='text'],
[type='email'],
select,
textarea {
	resize: vertical;
	font-family: var(--detail-text);
	font-size: var(--font200);
	font-weight: var(--body-text-400);
	color: var(--text-color);
	background-color: var(--bg-color);
	border: 1px solid var(--form-gray);
	width: 100%;
	border-radius: 5px;
	padding: 10px;
	margin: 5px 0;
}
textarea {
	min-height: 10.25rem;
}
/* to keep the 'select' dropdown text uniform with the rest of the form */
option {
	color: var(--form-select);
}
/* this keeps the select option 'ghosted' when unselected */
.form-item-select {
	/* // The select element is set to required as long as the selected options value is empty the element is not valid.*/
	&:invalid {
		color: var(--form-unselected);
	}
}
/* CONTACT FORM STYLING */

/* background & sizing for form container */
.contact-us-header {
	color: var(--text-color);
	font-family: var(--main-headings);
	font-size: var(--font600);
	font-weight: var(--main-headings-regular);
}

.form-text-container {
	width: 432px;
	min-height: 597px;
	border-radius: 4px;
	background: var(--bg-color);
	padding: 20px;
	background-image: url('../assets/images/contact-form.png');
	background-color: var(--dark-teal);
	background-position: center;
	background-size: cover;
}

/* heading for form-text-container */

.form-text-container h2 {
	color: var(--bg-color);
	font-family: var(--main-headings);
	font-size: var(--font600);
	font-weight: var(--main-headings-regular);
	margin-top: 0;
}

/* paragraphs styles for form text container */
.form-text-container p {
	width: 384px;
	color: var(--bg-color);
	font-family: var(--body-text);
	font-size: var(--font300);
	font-weight: var(--body-text-400);
}

/* LEFT AND RIGHT SCROLLING GALLERY IN THE FOOTER */
.gallery-container {
	height: 842px;
	display: flex;
	flex-direction: column;
}
.group-one {
	padding-bottom: 16px;
}
.group-two {
	padding-top: 16px;
}
.group-one,
.group-two {
	height: 405px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	margin: 0 auto;
}
.group-one img {
	right: -265px;
	position: relative;
	z-index: 0;
	margin: 0 12px;
	padding: 0;
	-webkit-transition: right 1s;
	-moz-transition: right 1s;
	-ms-transition: right 1s;
	-o-transition: right 1s;
	transition: 1s;
}
/* .group-one:hover img {
	right: 265px;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
} */

.group-two img {
	right: -148px;
	position: relative;
	z-index: 0;
	margin: 0 12px;
	padding: 0;
	-webkit-transition: right 1s;
	-moz-transition: right 1s;
	-ms-transition: right 1s;
	-o-transition: right 1s;
	transition: 1s;
	max-height: 100%;
}

/* .group-two:hover img {
	right: 148px;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
} */

/* END OF THE LEFT AND RIGHT SCROLLING GALLERY IN THE FOOTER */

/* FOOTER SECTION STYLES */
/* footer flex layout */
footer nav {
	display: flex;
	justify-content: space-between; /*for space between */
	align-items: center;
}
/* social icons flex layout */
.social-icons {
	display: flex;
	gap: var(--gap-sm);
}

.wwd-heading {
	color: var(--text-color);
	font-family: var(--main-headings);
	font-size: var(--font600);
	font-weight: var(--main-headings-regular);
}

/* MODAL STYLES LA */

.modal {
	height: 95vh;
	width: 90%;
	max-width: 1100px;
	margin: 0 auto;
	padding: 1.3rem;
	position: fixed;
	left: 0;
	right: 0;
	top: 2vh;
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 4px;
	z-index: 2;
}

.btn-la {
	display: inline-block;
	font-size: var(--font300);
	font-weight: var(--body-text-regular);
	color: black;
	height: fit-content;
}

.btn-la:hover,
.btn-la:focus {
	background-color: transparent;
	color: var(--amaranth);
}
.btn-la,
.btn-close button {
	border: none;
	background-color: transparent;
}
.btn-close svg {
	width: 32px;
	height: 32px;
}
.modal-header h3 {
	display: flex;
	justify-content: center;
	color: var(--amaranth);
	font-family: var(--main-headings);
	font-size: var(--font600);
	font-weight: var(--bold);
	text-align: center;
	line-height: var(--line-height-lg);
}
.btn-close {
	display: flex;
	justify-content: right;
}
/* scrollable modal content */
.modal-scroll {
	overflow-y: scroll;
	max-height: calc(85vh - 300px);
}

.modal-content p {
	font-family: var(--body-text);
	font-size: var(--font200);
	line-height: var(--spacing-medium);
	margin-top: 20px;
	margin: 20px 40px 0;
}
.image-la {
	display: flex;
	justify-content: center;
	margin-top: 32px;
	width: 100%;
}
.image-la img {
	width: auto;
}
.overlay-la {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(3px);
	z-index: 1;
}

/* copyright section */
.copyright p {
	font-family: var(--detail-text);
	font-size: var(--font50);
	margin-bottom: var(--spacing-large);
}

/* end of land popup */

/* Theres was small space on the left of the ul so this is to get rid that */

/* This is the container for each li (card-item) within the ul */

/* MEDIA QUERIES */

@media screen and (max-width: 1100px) {
	/* contact form section */
	/* adjusting first and last name inputs */
	.name-input-container {
		flex-direction: column;
	}
	.name-inputs {
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	/* Header styles */

	.under-construction {
		padding: var(--spacing-small) var(--spacing-medium);
	}

	.wuc-paragraph {
		font-size: var(--font100);
		margin: 0;
		padding: 0;
	}

	/* logo sizing adjustments */
	.logohead {
		min-width: 124px;
		height: 50px;
	}

	.header {
		background-image: url('../assets/mobile/hero-image.png');
	}

	/* who we are section */

	.ecosystem-banner {
		background-image: url('../assets/mobile/global-ecosystem.png');
	}

	/* What We Do Section */
	.card-item {
		/* from row to columns */
		flex-direction: column;
		align-items: flex-start;
		margin: 25px auto;
	}

	/* CONTACT US SECTION */

	/* font size changes */

	.gallery-container,
	.group-one,
	.group-two {
		height: auto;
		gap: var(--gap-sm);
		padding: 0;
	}

	.gallery-container {
		padding: 0 var(--gap-sm);
	}

	.group-one {
		flex-direction: column;
	}

	.group-one img,
	.group-two img {
		display: none;
		position: static;
		margin: 0;
		max-height: 100%;
	}

	.group-one img:nth-of-type(2) {
		display: block;
	}

	.group-two img:nth-of-type(2),
	.group-two img:nth-of-type(3) {
		display: block;
		width: 49%;
	}

	/* Footer */

	/* Land Acknowledgement button placement */

	.nav {
		position: relative;
		padding-top: 50px;
	}

	.btn-la {
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -60px -144px 0 0;
	}

	.modal {
		margin: 0;
		top: 0;
		bottom: 0;
		height: 100vh;
		width: 100vw;
		padding: 0;
		background-color: var(--bg-color);
	}

	.modal-wrapper {
		position: relative;
		display: flex;
		flex-flow: column;
		height: 100%;
		justify-content: space-between;
	}

	.modal .btn-close {
		position: absolute;
		right: 8px;
		top: 8px;
	}

	.modal-header {
		box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
		padding: var(--spacing-medium) var(--spacing-small);
		margin-bottom: 10px;
	}

	.modal-header h3 {
		margin: 0;
		line-height: var(--line-height-xl);
	}

	.modal-content {
		padding: var(--spacing-small);
	}

	.modal-scroll {
		max-height: calc(100vh - 260px);
	}

	.modal-content p {
		margin: 0 0 var(--spacing-small) 0;
		font-size: var(--font100);
	}

	.image-la {
		margin-top: var(--spacing-small);
	}

	.image-la img {
		height: 50px;
	}
}

@media screen and (max-width: 900px) {
	/* img url update to mobile */
	.form-text-container {
		background-image: url('../assets/mobile/contact-form.png');
	}

	/* CONTACT US SECTION */

	/* font size changes */

	.form-container {
		/* change from row to column */
		flex-direction: column;
	}

	.form-text-container {
		width: 100%;
		min-height: 430px;
		background-position: top;
	}

	.form-text-container h2 {
		line-height: normal;
		margin-bottom: var(--spacing-small);
	}

	.form-text-container p {
		/* text to fit screen */
		width: 100%;
		margin-top: 0;
		font-size: var(--font200);
	}

	.name-input-container {
		flex-direction: column;
	}
}

/* Phone */
@media screen and (max-width: 480px) {
	adjusting variables :root {
		/* increasing wrapper width - to take up more screen */
		--wrapper-width: 90%;

		/* adjusting font-sizes */
		--font200: 1rem; /* 16px */
		--font300: 1.25rem; /* 20px */
		--font500: 1.68rem; /* 27px */
		--font600: 1.93rem; /* 31px */
		--font900: 2.75rem; /* 44px */

		/* adjusting line-heights */
		--line-height-lg: 2rem;
	}

	/* Header styles */
	/* adding space between socials icons and logo */
	.header-nav {
		gap: var(--gap-md);
	}
	/* social icons */
	.social-icons svg {
		width: 32px;
		height: 32px;
	}

	/* Who We Are styles */
	.who-we-are .overlay-who {
		padding-top: 95px;
	}

	.ecosystem-banner {
		min-height: 150px;
	}
	/* reduced the indent */
	blockquote {
		padding-left: var(--spacing-medium);
		margin-bottom: var(--spacing-large);
	}
	/* reduced the size of the - before the blockquote */
	.solid-line-indent::before {
		width: 16px;
		top: 6%;
		left: 2%;
	}

	/* adjusting hr in who we are */

	.who-we-are hr {
		margin-top: var(--spacing-medium);
	}

	.modal-scroll {
		max-height: calc(100vh - 260px);
	}

	/* footer styles */

	/* Land Acknowledge button placement */
	.btn-la {
		margin: -50px -120px 0 0;
	}
}
