/* BOX SIZING */

/* VARIABLES */

/* GLOBAL STYLES (Desktop First for now) */

/* HEADER STYLES */

/* WHO WE ARE STYLES */

/* WHAT WE DO STYLES */

/* CONTACT FORM STYLES */


.form-container {
    width: 432px;
    min-height: 597px;
    border-radius: 4px;
    background: var(--bg-color);
    padding: 25px;
    background-image: url("./contact-form.png");
    background-position: center;
    background-size: cover;
}

.form-text-container h2 {
    color: var(--bg-color);
    font-family: var(--font-family-headings);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.form-text-container p {
    width: 384px;
    color: var(--bg-color);
    font-family: Lato, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* FOOTER SECTION STYLES */

/* RESPONSIVE MEDIA QUERIES */

/* Tablet */

/* Phone */
